* {
  background-color: #000;
  color: #fff;
  font-family: 'Merriweather', serif;
  line-height: 1.6;
}

.wrapper {
  margin: 10px auto;
  width: 80%;
  display: flex;
  border: #fff solid 2px;
}

.sidebar {
  width: 20%;
  border-right: #fff dashed 1px;
  padding: 20px;
}

.sidebar-btn {
  margin-bottom: 10px;
}

.content {
  width: 80%;
  padding: 10px 40px;
}

.actions-footer {
  border-top: #fff dashed 1px;
  text-align: center;
  padding-top: 20px;
}

.action-btn {
  border: #fff solid 5px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin-right: 5px;
}

.action-btn.visited {
  background-color: #333;
  border: #333 solid 5px;
}

.action-btn:hover {
  background-color: #fff;
  color: #000;
}

.action-btn.visited:hover {

}

.actions-footer .action-btn {
  margin-bottom: 10px;
}

.hidden {
  display: none;
}

.p-b-sm {
  padding-bottom: 10px;
}

.m-b-sm {
  margin-bottom: 10px;
}

.m-b-md {
  margin-bottom: 15px;
}
